body{
    background: url(./img/Isaac\ Animation.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: gray;
    display: flex;
    justify-content: center;
}
.body{
    margin-top: 2rem;
    background: rgba(99, 97, 97, 0.8) ;
    border:transparent 1px burlywood;
    border-radius: 8px;
    height: max-content;
    width: 75%;
}
.body>:nth-child(2){
    display: flex;
    justify-content: center;
    color: linen;
    font-style: oblique;
}
.p-body{
    margin-bottom: rem;
    height: fit-content;
    width: 75%;
    position: relative;
    left: 5%;
    margin-bottom: 2rem;
}
.p-body>span{
    width: fit-content;
}
.p-body>span>h2{
    border-left:8px solid violet;
    padding-left: 8px;
    color: white;
}
.p-body>span>h3{
    max-width: 97%;
    font-size: 1.2rem;
    color: white;
}
.p-pic{
    height: 40vh;
    width: 100%;
    margin-bottom: 3rem;
}
.p-pic>img{
    border-radius: 8px;
    height: 80%;
    width: 100%;
}
.p-button{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    height: auto;
    width: auto;
}
button{
    height: 7vh;
    width: 18vh;
    border-radius: 8px;
    background-color: gray;
    color: white;
    font-size: 1.2rem;
}
button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.home{
    margin: 1rem;
}