@media only screen and (max-width:765px) {
    body{
        background: url(./img/Isaac\ Animation.jpg);
        background-size:340px 960px;
        background-repeat: no-repeat;
    }
    .body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .b-links{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        margin-top: 5rem;
        gap: 2rem;
    }
    .navbar, .n-middle{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        gap: 2.5rem;
        width: 100%;
        margin-top: 1rem;
        text-align: center;
        transform: scale(0.8)
   }
   .n-middle:hover{
       transform: scale(1.2);
   }
   .n-middle>:nth-child(1){
    padding: 1.2rem;
    border: 1px solid  rgb(216, 117, 24);;
    border-radius: 12px;
}
.n-middle>:nth-child(2){
    padding: 1.2rem;
    border: 1px solid rgb(214, 131, 35);
    border-radius: 12px;
}
.n-middle>:nth-child(3){
    padding: 1.2rem;
    border: 1px solid rgb(216, 117, 24);
    border-radius: 12px;
}
    span{
        margin-top: 0.5rem;
    }
    a{
        text-decoration: none;
        text-align: center;
    }
    a:hover{
        transform: scale(1.2);
    }
    a:link{
        color: white;
    }
    a:visited{
        color: white;
    }
    h2{
        font-style: oblique;
        font-weight: 800;
        font-size: 0.7rem;
        text-align: center;
        color: rgb(31, 22, 12);
    }
    h3{
        font-style: oblique;
        font-weight: 800;
        font-size: 0.8rem;
        text-align: center; 
    }
    .b-right{
        margin-top: 8rem;
        color: white;
    }
    .cont, .container{
        width: 50vh;
        height: 3vh;
        font-size: 1.5rem;
        font-weight: 700;
        font-style: oblique;
        text-align: center;
        margin-top: 2.8rem;
        margin-bottom: 0.2rem;
    }
    .con, .contain{
        width: 50vh;
        height: 3vh;
        font-size: 1rem;
        font-weight: 200;
        font-style: oblique;
        text-align: center;
        margin-bottom: 0.2rem;
    }
    .button{
        width: 50vh;
        height: 15vh;
    }
   
    button{
        position: relative;
        top: 20%;
        left: 22%;
        width: 28vh;
        height: 8vh;
        margin-bottom:0.2rem;
        border: 1px solid  violet;
        border-radius: 12px;
        color: white;
        background-color: dimgray;
        animation-name: glowing;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-direction: alternate
    }
    button:hover{
        cursor: pointer;
        transform: scale(1.05);
    }
    .copyright{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 0.2rem;
        color: white;
    }

    @keyframes glowing{
      0%{
        background-color: rgb(19, 18, 17);
        border-color: rgb(122, 26, 122);
      }
      25%{
        background-color: rgb(73, 62, 25);
        border-color: violet;
      }
      50%{
        background-color: rgb(134, 108, 35);
        border-color: rgb(243, 145, 243);
      }
      75%{
        background-color: rgb(221, 177, 31);
        border-color: rgb(243, 168, 243);
      }
      100%{
        background-color: rgb(156, 143, 21);
        border-color: violet;
      }
    }
}
   
   

@media only screen and (min-width:765.1px) {
    body{
        background: url(./img/Isaac\ Animation.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
        
       .body{
            display: flex;
            justify-content: space-evenly;
       }
       a{
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a:hover{
        transform: scale(1.2);
    }
    a:link{
        color: white;
    }
    a:visited{
        color: white;
    }
       .navbar, .n-middle{
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            gap: 5rem;
            width: 150%;
            margin-top: 2rem;
            position: relative;
            left:-10%;
       }
       .n-middle>:nth-child(1){
        padding-left: 0.2rem;
        border: 1px solid  rgb(216, 117, 24);;
        border-radius: 12px;
        height: 15vh;
        width: 80%;
        text-align: center;
    }
    .n-middle>:nth-child(2){
        padding-left: 0.2rem;
        border: 1px solid rgb(214, 131, 35);
        border-radius: 12px;
        height: 15vh;
        width: 80%;
        text-align: center;
    }
    .n-middle>:nth-child(3){
        padding: 0.2rem;
        border: 1px solid rgb(216, 117, 24);
        border-radius: 12px;
        height: 15vh;
        width: 80%;
        text-align: center;
    }

    .b-right{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 5%;
    }
    h2{
        font-style: oblique;
        font-weight: 800;
        font-size: 0.7rem;
        text-align: center;
        color: rgb(31, 22, 12);
    }
    h3{
        font-style: oblique;
        font-weight: 800;
        font-size: 0.8rem;
        text-align: center; 
    }
    .cont, .container{
        width: 60vh;
        height: 3vh;
        font-size: 2.5rem;
        font-weight: 700;
        font-style: oblique;
        text-align: center;
        margin-top: 2.8rem;
        color: rgb(231, 230, 230);
        margin-bottom: 0.8rem;
    }
    .con, .contain{
        width: 60vh;
        height: 3vh;
        font-size: 1.5rem;
        font-weight: 200;
        font-style: oblique;
        text-align: center;
        color: white;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    .button{
        margin-top: 2rem;
        width: 50vh;
        height: 15vh;
    }
   
    button{
        position: relative;
        top: 20%;
        width: 28vh;
        height: 8vh;
        margin-bottom:0.6rem;
        border: 1px solid  violet;
        border-radius: 12px;
        color: white;
        background-color: dimgray;
        animation-name: glowing;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-direction: alternate
    }
    button:hover{
        cursor: pointer;
        transform: scale(1.05);
    }
    .b-links{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 5rem;
    }
    .copyright{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 2rem;
        color: white;
    }

    @keyframes glowing{
      0%{
        background-color: rgb(19, 18, 17);
        border-color: rgb(122, 26, 122);
      }
      25%{
        background-color: rgb(73, 62, 25);
        border-color: violet;
      }
      50%{
        background-color: rgb(134, 108, 35);
        border-color: rgb(243, 145, 243);
      }
      75%{
        background-color: rgb(221, 177, 31);
        border-color: rgb(243, 168, 243);
      }
      100%{
        background-color: rgb(156, 143, 21);
        border-color: violet;
      }
    }
     .copyright{
        display: none;
       }
    }